@model FlexWise_Prototype.Entities.FitnessProgram

<h1>@Model.Title</h1>
<p>@Model.Description</p>

<p>
    Goal: @Model.Goal <br />
    Duration: @Model.ProgramDuration
</p>

<h2>Workouts in this program</h2>

<table class="table mt-3">
    <thead>
    <tr>
        <th>Day</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var w in Model.Workouts.OrderBy(w => w.DayIndex))
    {
        <tr>
            <td>@w.DayIndex</td>
            <td>@w.Title</td>
            <td>@w.Description</td>
            <td>
                <a asp-controller="WorkoutSessions"
                   asp-action="Start"
                   asp-route-workoutId="@w.Id"
                   class="btn btn-sm btn-primary ms-1">
                    Start workout
                </a>
                
                <a asp-controller="Workouts"
                   asp-action="Details"
                   asp-route-id="@w.Id"
                   class="btn btn-sm btn-outline-secondary ms-1">
                    View workout
                </a>
                
                <form asp-controller="Workouts"
                      asp-action="RemoveWorkout"
                      method="post"
                      style="display:inline">
                    <input type="hidden" name="id" value="@w.Id" />
                    <button type="submit" class="btn btn-sm btn-danger ms-1">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-sm btn-primary"
   asp-controller="Workouts"
   asp-action="Create"
   asp-route-programId="@Model.Id">
    Add Workout
</a>